<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <alifshop>
                <active>1</active>
                <model>AlifShop\AlifShop\Model\Payment\AlifShop</model>
                <payment_action>authorize</payment_action>
                <order_status>pending</order_status>
                <title>AlifShop</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <instructions></instructions>
                <api_endpoint>https://gateway.dev.aliftech.pk/b/cashbox</api_endpoint>
                <min_order_total_ttl>43200</min_order_total_ttl>
                <cashbox_token></cashbox_token>
                <product_page_installement_instructions>Pay in 3 instalments of </product_page_installement_instructions>
            </alifshop>
        </payment>
    </default>
</config>
